@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}

@theme{
    --color-primary: #264A1D;
    --color-primary-dull: #1E3A16;
    --color-accent: #F87C04;
    --color-leaf: #5FAF2F;
    --color-bg: #F6F8F1;
    --color-line: #264A1D1A;
}

.no-scrollbar::-webkit-scrollbar{
    display: none;
}